.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
}

/* grid area first number is start row second is for start column the 3rd and fourth numbers are for the span grid area will span 2 rows and 4 columns  */
.header {
    grid-area: 1 / 1 / 2 / 4;
}
.results {
    grid-area: 2 / 1 / 4 / 2;
}
.picture {
    grid-area: 2 / 2 / 3 / 4;
}

.text {
    grid-area: 3 / 2 / 4 / 4;
}
.footer {
    grid-area: 7 / 1 / 8 / 4;
}

.dataviz {
    grid-area: 4 / 1 / 7 / 4;
}


html,body,.container {
    height: 100%;
    margin: 0;
}

.header {
    text-align: center;
    background-color: #408E91;
}

.picture{
    background-color: #DEF5E5;
}

img {
    height: 100px;
}

img:hover {
    border: darkorange solid;
}

.results {
    background-color: #245953;
}

.text {
    overflow: scroll;
    background-color: #D8D8D8;
}

.footer {
    background-color: #E49393
}

footer>h5 {
    opacity: 10%;
}

ul>li{
    color: rgb(180, 180, 180);
}

.dataviz{
   margin-top: 50px; 
}